    <form #linkform="ngForm" (ngSubmit)="doLogin(linkform)">
    <fieldset>
      <legend>LinkMeTest - Login</legend>
    <!-- Text input-->
    <div class="form-group">
      <label class="control-label" for="textinput">Username</label>  
      <input id="username" name="username" type="text" placeholder="ti suggerisco di inserire 'user1' " class="form-control input-md" ngModel>
                  </div>

    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="passwordinput">Password</label>
        <input id="password" name="password" type="password" placeholder="ti suggerisco di inserire 'MD5pass1'" class="form-control input-md" ngModel>              
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="control-label" for="singlebutton"></label>
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Login</button>
    </div>

    </fieldset>
    </form>
