<app-dummy-menu title="Carica Clienti"></app-dummy-menu>
<form #uploadform="ngForm" (ngSubmit)="doUpload()">
  <div class="form-group">
    <input type="file" class="form-control-file" id="file" name="file"  (change)="onFileChange($event)" accept=".json" #fileInput >
    <br/>
    {{statocaricamento}}
  </div>
</form>