<app-dummy-menu title="Menu"></app-dummy-menu>


<label class="control-label" for="singlebutton"></label>
<a routerLink="/app-upload"><button id="singlebutton" name="singlebutton" class="btn btn-primary">CARICA DATI DA JSON</button></a>
<br/><br/>
<label class="control-label" for="singlebutton"></label>
<a routerLink="/app-list"><button id="singlebutton" name="singlebutton" class="btn btn-success">VISUALIZZA DATI</button></a>
<br/><br/>
<label class="control-label" for="singlebutton"></label>
<button (click)="createBloB()" id="singlebutton" name="singlebutton" class="btn btn-danger">DOWNLOAD DATI</button>

