<app-dummy-menu title="Lista Clienti"></app-dummy-menu>
<table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Cognome</th>
            <th scope="col">Nascita</th>
            <th scope="col">Città</th>
            <th scope="col">CF</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let utente of list">
            <th>{{utente.id}}</th>
            <td>{{utente.nome}}</td>
            <td>{{utente.cognome}}</td>
            <td>{{utente.nascita | date }}</td>
            <td>{{utente.citta}}</td>
            <td>{{utente.cf}}</td>
          </tr>
        </tbody>
      </table>
