<div class="container">
    <div class="row"><div class="col-sm-2"></div>
        <div class="col-sm-8 text-center">
            <router-outlet></router-outlet>
        </div>
        <div class="col-sm-2"> </div>
    </div>
</div>
